* {
  outline: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
}

span {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
}

.profiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.person .img-role {
  margin-top: 20px;
  display: flex;
  flex-direction: initial;
}

.person span {
  writing-mode: vertical-lr;
}

.person p {
  font-weight: 600;
}

footer {
  padding-top: 30px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  color: #a9a9a9;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}
